@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  /* background: linear-gradient(to top, #7e57c2 20%, #673ab7 40%, #512da8 60%, #ff4081 80%, #f50057 100%); */
  background-color: #F9F9F9;
}


/* .swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: bold;
  color: black;
  background-color: white;
  border: 2px solid black;
  box-shadow: 5px 30px 10px rgba(0, 0, 0, 0.2);

} */

.createEventInput {
  border-radius: 10px;
  height: 3rem;
  font-size: 1.1rem;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-style: dashed;
  color: #333;
  margin-bottom: 1rem;
}

.createEventInput:focus {
  outline: none;
  border-color: #ffcc00;
  box-shadow: 0 0 12px rgba(255, 204, 0, 0.6);
}

.createEventInput::placeholder {
  color: #999;
}

.createForm {
  /* background: linear-gradient(to right, #ffffff, #ffffff); */
}

.createEventLabel {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.eventFlyerImg {
  /* display: block;
    max-width:500px;
    max-height:500px; */
  width: auto;
  height: auto;
}

.card {
  box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
}


.swipeButtons {
  /* position: relative; 
  bottom: 0vh;  */
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: #fff;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, .3) !important;
}

.swipeButtons__repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipeButtons__left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.swipeButtons__star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.swipeButtons__right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.swipeButtons__lightning {
  padding: 3vw !important;
  color: #915dd1 !important;
}













.swiper {
  width: 90%;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  /* width: 300px; 
  height: 300px; */
}

.swiper-slide img {
  display: block;
  width: 100%;
}



/* adapted from  https://codepen.io/glebkema/pen/Xjryjd*/
.owl-item.active > div:after {
  content: 'active';
}
.owl-item.center > div:after {
  content: 'center';
}
.owl-item.active.center > div:after {
  content: 'active center';
}
.owl-item > div:after {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.active.center {
  transform: scale(1);
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}
.active {
  transform: scale(.8);
  transition: .6s ease;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}